body{
    background-image: url('../images/gplaypattern.png');
    background-attachment: fixed;
    margin: 0px;
}

a{
	text-decoration: none;
	color: #D01919;
}

h1, h2, h3{
	margin: 0px;
}

h2{
	font-size: 1.5em;
	font-weight: normal;
}

.spacer{
    height: 25px;
}

.content{
    background: #CCCC99;
    background-color:rgba(204,204,153,0.5);
    font-family: 'Abel', sans-serif;
    font-size: 34pt;
}

.content p{
    margin-left: 10px;
}

.content h2{
    margin: 10px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.content ol{
    list-style-type: decimal;
    margin-left: 50px;
}

.shadow {
    -moz-box-shadow: 0px 0px 8px #ccc;
	-webkit-box-shadow: 0px 0px 8px #ccc;
	box-shadow: 0px 0px 8px #ccc;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.banner{
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 12pt;
    color: #630D0D;
}

img.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*================================================
 * Gallery style
 * ===============================================
 */

.clear{
	display: block;
	clear: both;
}

.banner{
	height: 250px;
}

.games{
	margin-top: 30px;
	font-family: 'Abel', sans-serif;
}

.game{
	width: 300px;
	height: 230px;
	float: left;
	padding: 10px;
	margin-top: 20px;
	position: relative;
	transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-webkit-transition: all .25s ease-out;
}
	.game:hover{
		background: #f0f0f0;
	}

.game h3{
	padding: 0;
	font-size: 1.1em;
}

.game p{
	margin: 0;
	font-size: 0.9em;
	color: #888;
}

.focus{
	color: #ccc;
	background: #222;
	box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
}
	.focus:hover{
		background: #222;
	}


.meta{
	width: 250px;
	height: 34px;
	float: left;
}

.info{
	width: 300px;
	padding: 0 10px 10px 10px;
	position: absolute;
	z-index: 100;
	left: 0;
	top: 240px;
	background: #222;
	box-shadow: 0 1px 3px rgba(0,0,0, .5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.game:hover .vote-icon{
	box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.5);
}

.info p{
	color: #cccccc;
}

.vote-icon{
	width: 35px;
	height: 35px;	
	float: right;
	cursor: pointer;
	background: #f0f0f0;
	font-size: 1em;	
	font-family: arial;
	text-align: center;	
}
	.vote-icon div{
		margin-top: .5em;
	}
	
	.focus .vote-icon{
		color: #222222;		
	}

.vote-icon img{
	
}
